body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    margin: 0.5em;
    width: 100%;
}

.message-info{
    background-color: lightskyblue;

}

.message-success{
    background-color: mediumspringgreen;

}

.message-warning{
    background-color: yellow;
}

.message-error{
    background-color: lightcoral;
}